{% extends 'base.html' %}


{% block title %}
Log In
{% endblock title %}
{% block content %}
<main>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>
</main>
{% endblock content %}
